<title>HTML</title>

<link
  href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet"
/>

<style>
  html,
  body,
  body > div {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  body > div {
    display: flex;
    flex-direction: column;
  }
  header {
    min-height: 200px;
  }
  main {
    flex: 1;
  }
  footer {
    min-height: 20%;
  }
</style>

<div>
  <header>Header</header>
  <main>Main</main>
  <footer>Footer</footer>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/alpinejs/3.0.1/cdn.min.js"></script>

<!-- <script -->
<!--   src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.0.5/cdn.min.js" -->
<!--   integrity="sha512-JzpmsnQFnevs64hXB/wyoAruXPo0nkBNuvZwKok/rsfBFUBLZUEssdz2wmq/gP5lohBeM4BNMHvcNkVxx23o/Q==" -->
<!--   crossorigin="anonymous" -->
<!--   referrerpolicy="no-referrer" -->
<!-- ></script> -->

<script></script>
